<mat-toolbar class='toolBar' color="secondary">
  <span><a class='title' routerLink="/">PostAtack</a></span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf='userIsAuthenticated'>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink="auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf='!userIsAuthenticated'>
      <a mat-button routerLink="auth/signup" routerLinkActive="mat-accent">Singup</a>
    </li>
    <li *ngIf='userIsAuthenticated'>
      <button mat-button class='logoutBt' (click)='onLogout()'>Logout</button>
    </li>
  </ul>
</mat-toolbar>
